In [12]:
import pandas as pd
import numpy as np
import numpy.typing as npt
from typing import *
import matplotlib.pyplot as plt
import seaborn as sn
df=pd.read_csv('Advertising.csv')
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [10]:
df.describe()

       Unnamed: 0          TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [6]:
X = df[["TV", "radio", "newspaper"]]
Y = df["sales"]
yMean = Y.mean()
yStd = Y.std()

In [7]:
Y = np.array((Y - yMean) / yStd)

In [8]:

X = X.apply(lambda col: (col - col.mean()) / col.std(), axis=0)

In [9]:
X

           TV     radio  newspaper
0    0.967425  0.979066   1.774493
1   -1.194379  1.080097   0.667903
2   -1.512360  1.524637   1.779084
3    0.051919  1.214806   1.283185
4    0.393196 -0.839507   1.278593
..        ...       ...        ...
195 -1.267759 -1.317724  -0.769287
196 -0.615491 -1.236899  -1.031011
197  0.348934 -0.940539  -1.109069
198  1.590574  1.261955   1.636743
199  0.990720 -0.987687  -1.003461

[200 rows x 3 columns]

# y = beta + theta . X

In [36]:
def initWeights(dim: int) -> Tuple[npt.NDArray, npt.NDArray]:
    beta = (np.random.rand() - 0.5) * 2
    theta = (np.random.rand(dim) - 0.5) * 2
    return beta, theta

def predictNorm(X, beta, theta) -> float:
    yNorm = beta + np.dot(X, theta)
    return yNorm

def unnormalise(yNorm) -> float:
    return (yNorm * yStd) + yMean

def rmse(Y: npt.NDArray, Y_hat: npt.NDArray) -> float:
    residual = Y - Y_hat
    sqm = np.dot(residual.T, residual) / len(Y)
    root = np.sqrt(sqm)
    return root

In [28]:
beta, theta = initWeights(3)

In [29]:
print(beta, theta)

0.05281857869049733 [-0.16408225  0.54865484  0.3755933 ]

In [33]:
XNp = X.to_numpy()
Y_hat = predictNorm(XNp, beta, theta)

In [34]:
Y_hat[0]

1.0977379498244264

In [37]:
rmse(Y, Y_hat)

1.0239869690075032